{#
/**
 * @file
 * Theme override to display a carousel based on the UMD Design System
 */
#}
{%
  set classes = [
    'carousel-bg',
    paragraph.field_carousel_style.value ? paragraph.field_carousel_style.value|clean_class,
  ]
%}
{% block paragraph %}
	<div {{attributes.addClass(classes).setAttribute('id','paragraph--'~paragraph.id())}}>
		{% block content %}
			<umd-element-carousel-image resize>
  			<div slot="images">
					{% for item in content.field_carousel_images %}	
						{% if item['#media'].field_media_image.entity.uri.value %}		
    					<img src="{{ item['#media'].field_media_image.entity.uri.value|file_url }}" alt="{{ item['#media'].field_media_image.alt }}" data-caption="{{ item['#media'].field_media_image.alt }}" /> 
    				{% endif %}
					{% endfor %}
  			</div>
			</umd-element-carousel-image>
		{% endblock %}
	</div>
{% endblock paragraph %}
