{#
/**
 * @file
 * Theme override for Basic Page node.
 */
#}
<div>
	<div {{attributes}}>
		<div class="editor-content">
			{% if content.body|field_value %}
				{{ content.body|field_value }}
			{% endif %}		
		</div>
		{{ content|without('body') }}		
	</div>
</div>



